# Build folder
build

# Latex files
report/report.aux
report/report.log
report/report.pdf
report/report.synctex.gz
report/report.bbl
report/report.blg
report/report.toc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
